{% extends "base/common.html" %}
{% block content %}
	{% for question in questions %}
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ question.author }}</a>
              <small class="text-muted">{{ question.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ question.title }}</a></h2>
            <p class="article-content">{{ question.content }}</p>
          </div>
        </article>
	{% endfor %}
{% endblock %}
