{% extends "base/common.html" %}
{% block content %}
	{% for test in tests %}
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ test.author }}</a>
              <small class="text-muted">{{ test.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ test.title }}</a></h2>
            <p class="article-content">{{ test.content }}</p>
          </div>
        </article>
	{% endfor %}
{% endblock %}
